*{
    margin:0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.about-section{
    &-content{
        max-width:500px;
        margin:auto;
        padding:50px 10px;
        
    }
}